body {
    font-style: italic;
    text-align: center;
}

h1 {color:gold;}

p {
    color:violet;
    text-align:center;
}            




.Class_A {
    color: blue;
}

.font_1 {
    background-color: black;
    color: yellow;
    font-size: large;
}
.font_2 {
    background-color: darkblue;
    color: white;
    font-size: medium;
}

.My_Style {
    background-color: red;
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-size: xx-large;
}


/* Styles for article about breeds. */
.all-breeds {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  
  .all-breeds > h1, .breed {
    margin: 10px;
    padding: 5px;
  }
  
  .breed {
    background: white;
  }
  
  .breed > details, p {
    margin: 4px;
    font-size: 90%;
  }