body {
    background-color: azure;
    font-family: 'Bookman Old Sytle', Arial, Helvetica, sans-serif;
    font-size: large;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 10px;
    margin: 0px auto;
    width: auto;
    background-color: rgba(19, 107, 103, 0.3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}
